/* Hide sidebar  */
/* html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;

  cursor:url('/src/cursor1.png'), auto;
} */
/* IE and Edge „ÄÅ Firefox*/
/* @import url("https://unpkg.com/element-ui/lib/theme-chalk/index.css"); */
:root{ 
  --bg-color: #857472;
  --flow-out-color: #B397A4;
  --flow-in-color: #A29F80;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;

  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
}

li {
  list-style-type: none;
}

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;

  /* cursor: url(../src/ConfirmButton.png), default; */
}

/* #bg {
  width: 100vw;
  height: 100vh;
  background-color: bisque;
} */


/* date selector */

el-date-picker {
  width: 100%;
}
.el-input {
  --el-input-bg-color: rgba(255 255 255, 0);
  --el-input-border: none;
}
.el-date-editor.el-input {
  width: 100%;
}
/* .el-input__wrapper{
  padding-left: 20%;
} */
.el-input__inner {
  padding-left: 0;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  padding-right: 0;
  color: #fff;
  text-align: center;
}
.el-input__inner::placeholder {
  color: #fff;
  text-align:center;
}
.el-input__prefix {
  display: none;
}
.el-input__suffix {
  display: none;
}


/* Page 1 */
#page1 {
  display: block;
  opacity: 1;
}
#page1-top {
  width: 100vw;
  height: 20vh;
  background-color: var(--bg-color);
  display: flex;
  flex-wrap: wrap;
  position: fixed;


  color: white;
}

#title {
  width: 100vw;
  height: 12vh;
  font-size: 28px;
}
#selector-type {
  width: 100vw;
  height: 4vh;
  font-size: 14px;
  padding-left: 5vw;
}
#selector-time {
  width: 40%;
  height: 10%;
  font-size: 14px;
  padding-left: 5vw;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #fff;
}

/* #selector-time img{
  width: 10%;
} */


#statistic-all {
  width: 40%;
  height: 4vh;
  font-size: 14px;
  margin-left: 10%;
}


#detail-box {
  position: fixed;
  top: 20vh;
  height: 70vh;
  overflow: scroll;
}
.day-box {
  width: 100vw;
  /* height: 10vh; */
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
}

.date {
  width: 30vw;
  height: 10vh;
  /* position: absolute; */
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.statistic-day {
  width: 70vw;
  height: 10vh;
  position: relative;
  right: 0;
  display: flex;
  justify-content: right;
  align-items: center;
}
.statistic-day .out {
  width: 15vw;
}
.statistic-day .in {
  width: 15vw;
}



.day-list {
  overflow: hidden;
}
.day-list .item-box{
  width: 140vw; 
  height: 15vw;
  display: flex;
  position: relative;

}
/* .item-box .item-box-inner {
  width: 100%; 
  height: 100%;
  display: flex;
  position: relative;
} */
.day-list .item-box img{
  width: 10vw; 
  height: 10vw;
  position: absolute;
  left: 5vw;
}
.day-list .item-box .item-category{
  width: 50vw; 
  height: 5vw;
  position: absolute;
  top: 1vw;
  left: 18vw;
  font-size: 16px;
}
.day-list .item-box .item-time{
  width: 10vw; 
  height: 4vw;
  position: absolute;
  top: 6vw;
  left: 18vw;
  font-size: 10px;
}
.day-list .item-box .item-source{
  width: 50vw; 
  height: 4vw;
  position: absolute;
  top: 6vw;
  left: 22vw;
  font-size: 10px;
}
.day-list .item-box .item-price{
  width: 20vw; 
  height: 15vw;
  position: absolute;
  right: 45vw;
  font-size: 22px;
  display: flex;
  justify-content: right;

  align-items: center;

  /* text-align: right; */
}
.day-list .item-box .item-change-icon{
  background-color: rgb(41, 40, 40);
  width: 20vw; 
  height: 15vw;
  position: absolute;
  right: 20vw;
  font-size: 16px;
  color: #fff;
}
.day-list .item-box .item-delete-icon{
  background-color: rgb(194, 95, 95);
  width: 20vw; 
  height: 15vw;
  position: absolute;
  right: 0;
  font-size: 16px;
  color: #fff;
}

#change-page {
  position: fixed;
  bottom: -90vh;
  width: 100vw;
  height: 90vh;
  background-color: white;
  z-index: 999;
}

#change-page .close-button{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-top: 10px;
}
#change-page .selector {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;

}

#change-page .input-box{
  width: 100vw; 
  height: 10vh;
  /* background-color:var(--bg-color); */
  display: flex;
  font-size: 28px;
}
#change-page .input-box input {
  border: none;
}


#change-page .category-list {
  width: 100vw; 
  height: 20vh;
  /* background-color:red; */
  display: flex;
  flex-wrap: wrap;
}


#add-icon {
  position: fixed;
  width: 100vw; 
  height: 10vh;
  left: 0;
  bottom: 10%;
}
#add-icon svg {
  height: 100%;
}


#add-page {
  position: fixed;
  bottom: -90vh;
  width: 100vw;
  height: 90vh;
  background-color: white;
  z-index: 999;
}

#add-page .close-button{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-top: 10px;
}
#add-page .selector {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;

}



.selector button {
  width: 20%;
  height: 30%;
  background-color: #dedede;
  border: none;
}
.selector .el-date-editor.el-input {
  width: 40%;
  height: 30%;
}
.selector .el-input__inner {
  color: #000;
}
.selector .el-input__inner::placeholder {
  color: #000;
}

#add-page .input-box{
  width: 100vw; 
  height: 10vh;
  /* background-color:var(--bg-color); */
  display: flex;
  font-size: 28px;
}
#add-page .input-box input {
  border: none;
}


#add-page .category-list {
  width: 100vw; 
  height: 20vh;
  /* background-color:red; */
  display: flex;
  flex-wrap: wrap;
}
.category-item {
  margin-left: 5%;
  width: 15%;
}
.category-item img{
  width: 100%;
}
.category-item embed{
  width: 100%;
}
.category-item h5{
  text-align: center;
}



/* Notes */
.notes {
  width: 100vw; 
  height: 20vh;
}
.notes h6 {
  font-size: 14px;
}
.notes textarea {
  width: 100%;
  height: 80%;
  border: none;
}


/* keyboard */
input {
  width: 100%;
  height: 50px;
  font-size: 25px;
}
.keyboard {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.keyboard .num table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  background: #fff;
}
.keyboard .num table td {
  height: 50px;
  vertical-align: middle;
  color: #333;
  font-size: 20px;
  border: 1px solid #ccc;
  text-align: center;
}
.keyboard .num table td.active {
  background: #ccc;
}
.keyboard .num table .del {
  background: #eee;
}
.keyboard .num table .confirm {
  font-size: 16px;
  width: 80px;
  background: #118eeb;
  color: #fff;
}



#nav-bar {
  width: 100vw;
  height: 10vh;
  background-color: white;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;

  color: black;
}



/* Page 2 */
/* #page2 {
  display: none;
  opacity: 0;
} */
#page2-top {
  width: 100vw;
  height: 30vh;
  background-color: var(--bg-color);
  display: flex;
  flex-wrap: wrap;
  /* position: fixed; */

  color: white;
  font-size: 20px;
}
#calendar {
  width: 40%;
  display: flex;
  align-items: center;
  padding-left: 5%;
}
#selector-in-out {
  width: 50%;
  display: flex;
  justify-content: right;
  padding-right: 5%;
  align-items: center;
}
#selector-in-out div {
  width: 35%;
  height: 40px;
  color: #D3D3D3;
}

#total-num {
  width: 50%;
  padding-left: 5%;
  align-items: center;
}
#total-num .sum-title{
  width: 100%;
  font-size: 12px;
}
#total-num .sum-price{
  width: 100%;
  font-size: 22px;
}

#graphic {
  margin-top: 5vh;
  height: 100vh;
}
#chart1-title {
  width: 100%;
  height: 5vh;
  font-size: 20px;
  padding-left: 5vw;
}
#pie-chart {
  width: 100%;
  height: 40vh;
}
#bar-chart {
  width: 100%;
  height: 60vh;
}



/* Nav Bar */
#nav-bar .nav-item {
  width: 33.33vw;
  height: 100%;

}
#nav-bar .nav-item .nav-icon {
  margin-top: 15%;
  width: 100%;
  height: 35%;
}
#nav-bar .nav-item  h3{
  margin-top: 5%;
  width: 100%;
  height: 30%;
  text-align: center;
}





/* common style */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
  opacity: 0;
}
